@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: Your custom styles below */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

button:disabled,
input:disabled,
label.btn-disabled {
  @apply bg-gray-500 text-gray-300 cursor-not-allowed opacity-50 pointer-events-none;
}